[submodule "src/data/blog/Fuuraiko"]
	path = src/content/posts/Fuuraiko
	url = https://github.com/flowing-wind/Blog_Content.git
[submodule "src/data/blog/Maxim"]
	path = src/content/posts/Maxim
	url = https://github.com/404NotFound-Error/Blog_Content.git
