---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-6 sm:py-4",
      "border-t border-border",
      "flex flex-col items-center justify-between sm:flex-row-reverse",
    ]}
  >
    <Socials />
    <div
      class="my-2 flex flex-col items-center gap-1 whitespace-nowrap sm:grid sm:grid-cols-[auto_auto_auto] sm:gap-0 sm:gap-y-1"
    >
      <span class="sm:text-right">Copyright &#169; {currentYear}</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>

      <a
        href="https://icp.gov.moe/?keyword=20254590"
        target="_blank"
        rel="noopener noreferrer"
        class="transition-colors hover:text-accent sm:text-right"
        >萌ICP备20254590号</a
      >
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <a
        href="https://beian.miit.gov.cn/"
        target="_blank"
        rel="noopener noreferrer"
        class="transition-colors hover:text-accent">沪ICP备2025133897号</a
      >
    </div>
  </div>
</footer>
